:root {
  font: 18px/145% var(--sans);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  background-color: #0f172a;
  color: #f8fafc;
}

  
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
 /* text-align: center;
  border-inline: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;*/
}


